<soho-header>
    <soho-toolbar hasMoreButton="true">  
      <soho-toolbar-title>
        <button soho-nav-button></button>
        <h1>
          <span soho-page-title>Dogs</span>
        </h1>
      </soho-toolbar-title>  


      <soho-toolbar-button-set >
          <!-- <button soho-button="icon" icon="search" title="Search"></button> -->
        <input id="header-searchfield" class="searchfield" name="header-searchfield" placeholder="search " icon="search" />
        <button soho-button="icon" icon="refresh" title="Refresh" (click)="refresh()"></button>
      </soho-toolbar-button-set>


    </soho-toolbar>  
</soho-header>