<div>
    <div class="field">
		<label for="subject">Name</label>
		<input type="text" id="name" name="name" placeholder="{{model.name}}"/>
    </div>
    <div class="field">
        <label for="subject">Breed</label>
        <input type="text" id="breed" name="breed" placeholder="{{model.breed}}"/>
    </div>
    <div class="field">
        <label for="subject">Description</label>
        <input type="text" id="description" name="description" placeholder="{{model.description}}"/>
    </div>
    <div class="field">
            <button soho-button="primary" id="LikeStatus" soho-button >{{model.likeStatus}}</button>
    </div>
</div>