
<div class="row">
  <div class="one-fourth column"  *ngFor="let dog of dogs$|async">
  <div class="card" id="editDog" (click)="edit(dog)">
    <div class="card-header">
      <h2 class="widget-title" >{{dog.name}}<br/></h2>
      <h2 class="widget-title" >{{dog.breed}}</h2>
    </div>
    <div class="card-content">
      <img src="{{dog.url}}" width="100%" height="250px"/>
      <h3>{{dog.description}}</h3>
      <button soho-button="tertiary" (click)="liked(dog)">{{dog.likeStatus}}</button>
    </div>
  </div>

</div>
</div>


  <div #dialogPlaceholder></div>