<div soho-homepage (resize)="onResize($event, $args)">

    <div soho-widget>
      <div soho-widget-header>
        <div soho-widget-title tabIndex="0"><h4>Name</h4> </div>
        
        </div>
      <div soho-widget-content>
        
      </div>
    </div>

    <div soho-widget>
      <div soho-widget-header>
        <div soho-widget-title tabIndex="1">
            <h2>Name</h2>
        </div>
        </div>
      <div soho-widget-content>
        
      </div>
    </div>

    <div soho-widget>
      <div soho-widget-header>
        <div soho-widget-title tabIndex="2"><h2>Name</h2></div>
        
        </div>
      <div soho-widget-content>
       
      </div>
    </div>

    <div soho-widget>
        <div soho-widget-header>
          <div soho-widget-title tabIndex="3"><h2>Name</h2></div>
          </div>
        <div soho-widget-content>
         
        </div>
      </div>
</div>









